pexpect==4.9.0
Pygments==2.19.1
jupyter_core==5.8.1
traitlets==5.14.3
nest-asyncio==1.6.0
debugpy==1.8.14
ptyprocess==0.7.0
parso==0.8.4
platformdirs==4.3.8
pyzmq==27.0.0
jedi==0.19.2
jupyter_client==8.6.3
asttokens==3.0.0
ipython_pygments_lexers==1.1.1
appnope==0.1.4
decorator==5.2.1
executing==2.2.0
stack-data==0.6.3
psutil==7.0.0
python-dateutil==2.9.0.post0
wcwidth==0.2.13
prompt_toolkit==3.0.51
packaging==25.0
tornado==6.5.1
comm==0.2.2
pure_eval==0.2.3
ipython==9.3.0
matplotlib-inline==0.1.7
ipykernel==6.29.5
six==1.17.0
propcache==0.3.2
pyobjc-framework-HealthKit==11.1
pyobjc-framework-ScreenSaver==11.1
soupsieve==2.7
arrow==1.3.0
pyobjc-framework-CryptoTokenKit==11.1
pyobjc-framework-LaunchServices==11.1
pyobjc-framework-ServiceManagement==11.1
uri-template==1.3.0
pyobjc-framework-GameCenter==11.1
pyobjc-framework-MediaLibrary==11.1
pyobjc-framework-PHASE==11.1
pyobjc-framework-UserNotifications==11.1
pyobjc-framework-CoreMIDI==11.1
rfc3339-validator==0.1.4
pydantic_core==2.33.2
pyobjc-framework-AppleScriptKit==11.1
pyobjc-framework-PencilKit==11.1
pyobjc-framework-ExtensionKit==11.1
pyobjc-framework-Accessibility==11.1
datasets==4.0.0
fqdn==1.5.1
babel==2.17.0
typing_extensions==4.14.0
pyobjc-framework-BrowserEngineKit==11.1
jupyter_server==2.16.0
pyobjc-framework-Cinematic==11.1
pyobjc-framework-CalendarStore==11.1
pyobjc-framework-CoreML==11.1
pyobjc-framework-PassKit==11.1
peft==0.16.0
pyobjc-framework-libxpc==11.1
pyobjc-framework-Metal==11.1
keyboard==0.13.5
isoduration==20.11.0
pyobjc-framework-ExecutionPolicy==11.1
pyobjc-framework-OpenDirectory==11.1
pyobjc-framework-Vision==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-CoreText==11.1
certifi==2024.6.2
pyobjc-framework-MetalFX==11.1
pytz==2025.2
pyobjc-framework-FSKit==11.1
pyobjc-framework-NotificationCenter==11.1
pyobjc-framework-DiscRecording==11.1
protobuf==6.31.1
typing-inspection==0.4.1
multidict==6.6.3
pyobjc-framework-PreferencePanes==11.1
overrides==7.7.0
webencodings==0.5.1
tinycss2==1.4.0
jupyterlab==4.4.4
pyobjc-framework-IOBluetoothUI==11.1
pyobjc-framework-PushKit==11.1
hf-xet==1.1.5
pyobjc-framework-ExceptionHandling==11.1
pyobjc-framework-CoreServices==11.1
beautifulsoup4==4.13.4
wandb==0.21.0
pyobjc-framework-KernelManagement==11.1
pip==25.1.1
pyobjc-framework-MediaToolbox==11.1
pyobjc-framework-ContactsUI==11.1
pyobjc-framework-CoreMotion==11.1
pyobjc-framework-GameController==11.1
anyio==4.9.0
defusedxml==0.7.1
pyobjc-framework-SharedWithYou==11.1
pyobjc-framework-IOSurface==11.1
pyobjc-framework-SystemConfiguration==11.1
requests==2.32.3
pyobjc-framework-DiscRecordingUI==11.1
pyobjc-framework-UserNotificationsUI==11.1
attrs==25.3.0
pandas==2.3.1
pyobjc-framework-VideoToolbox==11.1
pyobjc-framework-PhotosUI==11.1
async-lru==2.0.5
notebook==7.4.4
pyobjc-framework-MetalKit==11.1
pyobjc-framework-LocalAuthentication==11.1
pyobjc-framework-FileProvider==11.1
pyobjc-framework-SafariServices==11.1
GitPython==3.1.44
pyobjc-framework-Symbols==11.1
pyobjc-framework-DictionaryServices==11.1
pyobjc-framework-NetworkExtension==11.1
tk==0.1.0
pyobjc-framework-CoreLocation==11.1
pyobjc-framework-SystemExtensions==11.1
tiktoken==0.9.0
aiohttp==3.12.14
pyobjc-framework-WebKit==11.1
pyobjc-framework-AdServices==11.1
pyobjc-framework-Network==11.1
tqdm==4.67.1
pyobjc-framework-MapKit==11.1
pyobjc-framework-AppleScriptObjC==11.1
torch==2.7.1
pyobjc-framework-CFNetwork==11.1
pandocfilters==1.5.1
prometheus_client==0.22.1
json5==0.12.0
pyobjc-framework-AVRouting==11.1
huggingface-hub==0.33.4
fastjsonschema==2.21.1
pyobjc-framework-Automator==11.1
pyobjc-framework-ModelIO==11.1
jsonpointer==3.0.0
tzdata==2025.2
pyobjc-framework-DVDPlayback==11.1
pyobjc==11.1
pyobjc-framework-AppTrackingTransparency==11.1
pyobjc-framework-CoreSpotlight==11.1
pyobjc-framework-MetricKit==11.1
pyobjc-framework-SceneKit==11.1
httpcore==1.0.9
pyobjc-framework-Security==11.1
pyobjc-framework-GameplayKit==11.1
pyobjc-framework-CloudKit==11.1
pyobjc-framework-SecurityFoundation==11.1
pyobjc-framework-CoreHaptics==11.1
cffi==1.17.1
pyobjc-framework-ScriptingBridge==11.1
types-python-dateutil==2.9.0.20250516
nbformat==5.10.4
yarl==1.20.1
sentry-sdk==2.32.0
pyobjc-framework-MediaAccessibility==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Carbon==11.1
pyobjc-framework-QuickLookThumbnailing==11.1
pyobjc-framework-SharedWithYouCore==11.1
pyobjc-framework-ExternalAccessory==11.1
pyobjc-framework-EventKit==11.1
pyobjc-framework-Virtualization==11.1
sympy==1.14.0
multiprocess==0.70.16
pyobjc-framework-IOBluetooth==11.1
torchvision==0.22.1
pyobjc-framework-SearchKit==11.1
pyobjc-framework-CoreMedia==11.1
pyobjc-framework-MetalPerformanceShadersGraph==11.1
pyobjc-framework-ClassKit==11.1
jsonschema==4.24.0
pyobjc-framework-Speech==11.1
pyobjc-framework-AutomaticAssessmentConfiguration==11.1
xxhash==3.5.0
nbconvert==7.16.6
referencing==0.36.2
pyobjc-framework-StoreKit==11.1
newsapi-python==0.2.7
pyobjc-framework-OSAKit==11.1
regex==2024.11.6
Send2Trash==1.8.3
transformers==4.53.2
pyobjc-framework-iTunesLibrary==11.1
jupyter-lsp==2.2.5
nbclient==0.10.2
h11==0.16.0
pyobjc-framework-DiskArbitration==11.1
gitdb==4.0.12
sniffio==1.3.1
setuptools==80.9.0
pyobjc-framework-CoreAudioKit==11.1
networkx==3.5
mpmath==1.3.0
jupyterlab_pygments==0.3.0
mistune==3.1.3
pyobjc-framework-Contacts==11.1
pyobjc-framework-AuthenticationServices==11.1
np==1.0.2
charset-normalizer==3.3.2
urllib3==2.2.1
pyobjc-framework-ColorSync==11.1
tokenizers==0.21.2
jupyter-events==0.12.0
pyobjc-core==11.1
pyobjc-framework-CoreWLAN==11.1
aiosignal==1.4.0
pyobjc-framework-AudioVideoBridging==11.1
pyobjc-framework-VideoSubscriberAccount==11.1
rpds-py==0.25.1
pyobjc-framework-AVKit==11.1
click==8.2.1
jupyterlab_server==2.27.3
argon2-cffi==25.1.0
pyobjc-framework-NetFS==11.1
pyobjc-framework-libdispatch==11.1
webcolors==24.11.1
jsonschema-specifications==2025.4.1
pycparser==2.22
pyobjc-framework-NaturalLanguage==11.1
pyobjc-framework-ThreadNetwork==11.1
pyobjc-framework-SecurityInterface==11.1
idna==3.7
Jinja2==3.1.6
pyobjc-framework-AVFoundation==11.1
pyobjc-framework-GameKit==11.1
filelock==3.18.0
torchaudio==2.7.1
pyobjc-framework-InstallerPlugins==11.1
dill==0.3.8
newsapi==0.1.1
pyobjc-framework-AdSupport==11.1
pyobjc-framework-DataDetection==11.1
pydantic==2.11.7
numpy==2.3.1
fsspec==2025.3.0
pyobjc-framework-IntentsUI==11.1
pyobjc-framework-SecurityUI==11.1
pyobjc-framework-MultipeerConnectivity==11.1
rfc3986-validator==0.1.1
pyobjc-framework-ScreenTime==11.1
pyobjc-framework-MetalPerformanceShaders==11.1
aiohappyeyeballs==2.6.1
python-json-logger==3.3.0
pyobjc-framework-MLCompute==11.1
terminado==0.18.1
pyobjc-framework-ShazamKit==11.1
pyobjc-framework-SafetyKit==11.1
pyobjc-framework-CoreData==11.1
argon2-cffi-bindings==21.2.0
pyobjc-framework-LatentSemanticMapping==11.1
pyobjc-framework-Social==11.1
pyobjc-framework-SpriteKit==11.1
PyYAML==6.0.2
httpx==0.28.1
pyobjc-framework-CoreMediaIO==11.1
smmap==5.0.2
pyobjc-framework-ApplicationServices==11.1
safetensors==0.5.3
pyobjc-framework-OSLog==11.1
pillow==11.3.0
pyobjc-framework-SensitiveContentAnalysis==11.1
pyobjc-framework-MediaExtension==11.1
pyobjc-framework-SyncServices==11.1
pyobjc-framework-Collaboration==11.1
pyobjc-framework-FSEvents==11.1
pyobjc-framework-FinderSync==11.1
jupyter_server_terminals==0.5.3
bleach==6.2.0
pyobjc-framework-CoreAudio==11.1
pyobjc-framework-Intents==11.1
pyobjc-framework-BackgroundAssets==11.1
pyobjc-framework-ReplayKit==11.1
trl==0.19.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.1
pyobjc-framework-MediaPlayer==11.1
pyobjc-framework-FileProviderUI==11.1
annotated-types==0.7.0
accelerate==1.8.1
pyobjc-framework-DeviceCheck==11.1
pyobjc-framework-DeviceDiscoveryExtension==11.1
pyobjc-framework-CoreBluetooth==11.1
pyobjc-framework-Accounts==11.1
pyobjc-framework-MailKit==11.1
pyobjc-framework-InstantMessage==11.1
pyobjc-framework-ImageCaptureCore==11.1
pyobjc-framework-CallKit==11.1
pyobjc-framework-Photos==11.1
pyobjc-framework-InputMethodKit==11.1
pyarrow==20.0.0
pyobjc-framework-LinkPresentation==11.1
pyobjc-framework-ScreenCaptureKit==11.1
pyobjc-framework-SoundAnalysis==11.1
pyobjc-framework-UniformTypeIdentifiers==11.1
notebook_shim==0.2.4
frozenlist==1.7.0
pyobjc-framework-BusinessChat==11.1
pyobjc-framework-AddressBook==11.1
websocket-client==1.8.0
MarkupSafe==3.0.2
